.conditions-wrapper {
    display: flex;
    justify-content: space-between;
}

.grid-conditions-box-1 {
    display: grid;
    row-gap: 5px;
    width: 22%;
    justify-items: start;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-conditions-box-1 > #right {
    place-self: center end;
}
.grid-conditions-box-1 > #left {
    place-self: start center;
} 

.mainContainer {
    height: 90vh;
}