.nav-container {
  overflow: hidden;
  width: 100%;
  padding: 0 20px;
  background-color: rgb(255, 247, 247);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2px;
}

.nav-menu {
  height: 100%;
  margin-left: auto;
}

.btn-nav {
  width: 10%;
  height: 35px;
  line-height: 35px;

  text-align: center;
  font-size: 1rem;
  display: inline-block;

  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.btn-nav:hover {
  background-color: #ddd;
  cursor: pointer;
}

.btn-nav:active {
  background-color: rgb(251, 245, 245);
}

.btn-icon {
  margin-right: 5px;
}
