.modal {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal > section {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
}

.modal>section>header {
    display: flex;
    place-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    font-weight: 700;
}

.modal>section>header>span {
    margin-left: 10px;
}

.modal>section>header button {
    align-self: flex-end;
    margin-right: 5px;
    height: 30px;
    width: 30px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #999;
    background-color: transparent;
}

.searchInput {
    background-color: #638ccf;
    padding: 10px;
    width: 100%;
    display: flex;
    
    place-items: center;
}

.searchInput > .searchButton {
    text-shadow: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80px;
    text-align: center;
    border-color: #cddbed;
    background-color: #fff;
    border-radius: 5px;
    font-size: 13px;
}

.searchInput > .input-grid-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.searchInput > .input-grid-wrapper > .search-grid {
    display: grid;
    row-gap: 5px;
    grid-template-columns: 80px 1fr 0.4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#ponm-input-grid-box {
    grid-row: 2/ 2;
    grid-column: 3 / 5;
}

#ponm-input-grid-box > #ponm_input {
    width: 173px;
}

.searchInput > .input-grid-wrapper >.search-grid> .conditions-box {
    position: relative;
}

.searchInput > .input-grid-wrapper > .reset-grid {
    margin-right: 30px;
    display: grid;
    row-gap: 5px;
    justify-items: start;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.searchInput > .input-grid-wrapper > .reset-grid > .grid-box > .clearButton {
    text-align: center;
    width: 80px;
    height: 20px;
    text-shadow: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: #cddbed;
    background-color: #fff;
    border-radius: 5px;
    font-size: 13px;
}

.searchInput > .input-grid-wrapper > .reset-grid > .grid-box > .searchButton {
    text-align: center;
    width: 80px;
    height: 20px;
    text-shadow: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: #cddbed;
    background-color: #fff;
    border-radius: 5px;
    font-size: 13px;
}


.modal>section>main {
    padding: 16px;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}

.modal>section>footer {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: right;
}

.modal>section>footer>button {
    text-shadow: none;
    margin-top: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    width: 80px;
    text-align: center;
    border-color: #cddbed;
    background-color: #fff;
    border-radius: 5px;
    font-size: 13px;
}

.modal.openModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show 0.3s;
}

.modal>section>footer>.submit {
    margin-right: 10px;
}

.modal>section>footer>.close {
    margin-right: 10px;
}

.modal>section>header button:hover {
    color: #cddbed;
}

.modal>section>footer>button:hover {
    border-color: dodgerblue;
    background-color: cornflowerblue;
    transition: .5s;
}

.searchInput > .input-grid-wrapper > .reset-grid > .grid-box > .searchButton:hover {
    border-color: dodgerblue;
    background-color: cornflowerblue;
    transition: .5s;
}

.searchInput > .input-grid-wrapper > .reset-grid > .grid-box > .clearButton:hover {
    border-color: dodgerblue;
    background-color: cornflowerblue;
    transition: .5s;
}


@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes modal-bg-show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}