.mainContainer {
  min-width: 1640px;
  height: 87.5vh;
  background-color: rgb(240, 240, 240);
  padding: 5px;
}

.left-container {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.right-container {
  min-width: 810px;
  padding-left: 5px;
  width: 50%;
  float: right;
  box-sizing: border-box;
}

.content-wrapper {
  width: 810x;
  height: 30px;
  vertical-align: baseline;
  display: inline-block;
  line-height: 28px;
  padding-left: 30px;
}

.content-box-grid {
  min-width: 800px;
}

.content-box {
  min-width: 20px;
  width: 50%;
  /* border: 1px solid black; */
  vertical-align: baseline;
  display: inline-block;
  line-height: 28px;
  padding-left: 30px;
}

.content-box-upload {
  min-width: 20px;
  width: 82%;
  /* border: 1px solid black; */
  vertical-align: middle;
  display: inline-block;
  height: 28px;
}

.content-box-download {
  min-width: 20px;
  width: 82%;
  /* border: 1px solid black; */
  display: block;
  height: 28px;
}

.content-box-btnbox {
  min-width: 20px;
  width: 15%;
  /* border: 1px solid black; */
  vertical-align: middle;
  display: inline-block;
  height: 28px;
}

.btn-content-box-half {
  min-width: 20px;
  width: 50%;
  /* border: 1px solid black; */
  vertical-align: baseline;
  display: inline-block;
  height: 22px;
}

.btn-upload {
  width: 78px;
  display: inline-block;
  margin-right: 10px;
  height: 22px;
  border: 1px solid;
  text-align: center;
  background-color: lightgray;
}

.txt-btn-upload {
  position: relative;
  top: -5px;
}

.txt-upload {
  height: 22px;
  width: 545px;
  font-size: 10px;
  vertical-align: top;
}

.btn-conditions {
  line-height: 10px;
}

.txt-readOnly {
  background-color: lightgray;
  border: 1px solid gray;
  height: 22px;
}

.box-popup {
  min-width: 120px;
  display: inline-block;
  border: 1px solid gray;
  height: 22px;
  position: relative;
  line-height: 15px;
}

.txt-popup {
  width: 120px;
  height: 20px;
  vertical-align: top;
  border: 0px;
  font-size: 12px;
}

.btn-popup {
  margin-top: 1px;
  width: 18px;
  height: 18px;
  font-size: 10px;
  border: 1px solid gray;
  margin: auto;
}

.btn-popup:hover {
  border: 1px solid blue;
}

.box-combo {
  display: inline-block;
  border: 1px solid gray;
  height: 22px;
  position: relative;
  line-height: 15px;
}

.txt-combo {
  width: 120px;
  height: 20px;
  vertical-align: top;
  border: 0px;
  font-size: 12px;
}

.btn-combo {
  margin-top: 1px;
  width: 18px;
  height: 18px;
  font-size: 10px;
  border: 1px solid gray;
  margin: auto;
  transform: rotate(-90deg);

  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);
}

.btn-combo:hover {
  border: 1px solid blue;
}
